img {
  max-width: 100%;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075),
    0 0 8px rgba(255, 193, 7, 0.52);
}

.dropdown-item:hover {
  background-color: rgba(255, 193, 7, 0.52);
}

.dropdown-menu {
  min-width: 15rem;
}

.dropdown-menu-right {
  right: -90%;
  left: -90%;
}

.thumbnail {
  position: relative;
  background-color: #83c0ca;
}

.caption {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  opacity: 80%;
}

.card-container > .row {
  overflow-x: auto;
}

/* @media only screen and (max-width: 576px) {
    .mobile-card-container>.row {
        overflow-x: auto;
    }
} */

/* ::-webkit-scrollbar {
    display: none;
} */

.condition {
  position: relative;
  top: -15px;
  left: -15px;
}
